VisualInsightsNew.json
[{"id":"4baa32b0.830b3c","type":"inject","z":"b597b279.08f06","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":80,"wires":[["6d213111.9def"]]},{"id":"6d213111.9def","type":"function","z":"b597b279.08f06","name":"function1","func":"\nvar data = [\n    ['Quantiply', 6371664],\n    ['SAP', 7216301],\n    ['IBM', 1486621],\n    ['Oracle', 786622],\n    ['SIs', 900000]\n  ];\n  var options = {\n      title: \"DonutPie Demo\"\n  }\n  msg.payload = {\n      data: data,\n      options: options\n  }\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":200,"wires":[["86f8f357.5f906"]]},{"id":"86f8f357.5f906","type":"pie","z":"b597b279.08f06","name":"Companies-Employees-Split","sequenceNum":1,"pulseType":"widget-donut-pie","description":"Shows how number of employees distribution across companies","enabled":true,"streamEnabled":false,"maxPoints":10,"x":320,"y":280,"wires":[[]]}]
